<!doctype html>

<html xmlns:th="www.thymeleaf.org">
<title>Calender Event</title>
<head>
<th:block th:insert="~{admin/fragment/fragment :: css}"></th:block>
</head>


<body>

	<div id="wrapper">
		<div class="overlay"></div>
		<!-- Sidebar Start -->

		<!-- Sidebar-wrapper -->


		<!-- Page Content -->
		<div id="page-content-wrapper" class="toggled">
			<div id="content">
				<th:block th:insert="~{admin/fragment/fragment :: sidebar}"></th:block>
				<div class="container-fluid p-0 px-lg-0 px-md-0">
					<!-- Topbar -->
					<th:block th:replace="~{admin/fragment/fragment :: topbar}"></th:block>
					<!-- End of Topbar -->

					<div class="container-fluid px-lg-4">
                        <div class="row">
                            <!-- column start -->
                            <div class="col-md-12 mt-4">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h1 class="h3 mb-0 text-dark-800 float-left">Event and Holiday</h1>

                                        <div class="float-right">
                                            <a th:href="@{'/admin/calender/form'}"
                                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                                    class="fas fa-plus text-white mr-1"></i>
                                                Add Event</a>
                                            <a th:href="@{'/admin/calender/setup'}"
                                                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                                    class="fas fa-plus text-white mr-1"></i>
                                                SetupCalender</a>
                                        </div>

                                        <!-- column start -->
                                    <div class="container table-responsive mt-4">
                                      <div class="row mt-5">
                                        <div class="col-md-4">
                                               <div class="form-group ">
                                                 <label>Select Year</label>
                                                   <select class="form-control" name="year" >
                                                     <option value="0" selected="true" disabled="true">Year</option>
                                                     <option value="">2017</option>
                                                     <option value="">2018</option>
                                                     <option value="">2019</option>
                                                     <option value="">2020</option>
                                                     <option value="">2021</option>
                                                     <option value="">2022</option>
                                                  </select>
                                                </div>
                                          </div>
                                        <div class="col-md-4">
                                               <div class="form-group">
                                                 <label>Select Month</label>
                                                   <select class="form-control" name="month" >
                                                     <option value="0" selected="true" disabled="true">Month</option>
                                                     <option value="">Basishak</option>
                                                     <option value="">Jesth</option>
                                                     <option value="">Aasar</option>
                                                     <option value="">Shrawn</option>
                                                     <option value="">Bhadra</option>
                                                     <option value="">Ashoj</option>
                                                     <option value="">Kartik</option>
                                                     <option value="">Mangsir</option>
                                                     <option value="">Push</option>
                                                     <option value="">Magh</option>
                                                     <option value="">Falgun</option>
                                                     
                                                     <option value="">Chaitra</option>
                                                  </select>
                                                </div>
                                        </div>
                                        <div class="col-md-4 go_button">
                                            <button class="btn btn-primary btn-danger">GO</button>
                                        </div>

                                        <table class="table table-bordered table-hover ml-3">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th scope="col">SN</th>
                                                    <th width="120" scope="col">Date</th>
                                                    <th scope="col">Descripton</th>
                                                    <th width="103px" scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td>1-Jan-2020</td>
                                                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    </td>
                                                    <td>
                                                          <a href=""><i class="fa fa-eye btn btn-info btn-sm"></i></a>
                                                          <a href=""><i class="fa fa-trash-alt btn btn-danger btn-sm"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                 <!-- column end -->
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                    </div>
                </div>
					
				</div>
				<!-- container-fluid -->
			</div>
		</div>
	</div>
	<!--page-content-wrapper -->
	</div>
	<!--wrapper -->


	<!-- js -->
	<th:block th:insert="~{admin/fragment/fragment :: js}"></th:block>

	<!-- end js -->


</body>

</html>