<!doctype html>

<html xmlns:th="www.thymeleaf.org">
<title>Parents Of Student</title>
<head>
    <th:block  th:insert="~{admin/fragment/fragment :: css}"></th:block>
</head>

<body>
    <div id="wrapper">
        <div class="overlay"></div>
        <!-- Sidebar Start -->
          <th:block  th:insert="~{admin/fragment/fragment :: sidebar}"></th:block>
        <!-- Sidebar-wrapper -->


        <!-- Page Content -->
        <div id="page-content-wrapper" class="toggled">
            <div id="content">

                <div class="container-fluid p-0 px-lg-0 px-md-0">
                    <!-- Topbar -->
                     <th:block  th:replace="~{admin/fragment/fragment :: topbar}"></th:block>
                    <!-- End of Topbar -->

                     <!-- Begin Page Content -->
                    <div class="container-fluid px-lg-4">
                        <div class="row">
                            <div class="col-md-12 mt-lg-4 mt-4">
                            
                                <!-- Page Heading -->
                                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                    <h1 class="h3 mb-0 text-gray-800">Parents Of Student</h1>
                              
                              
                                </div>
                                <form th:action="@{'/page/'+${currentPage}}" method="get">
                                  <input type="hidden" name="sortField" th:value="${sortField}">
                                  <input type="hidden" name="sortDir" th:value="${sortDir}">
                                  
                                  <div class="row">
                                     <div class="col-md-4 ">
                       
                                      	<div class="form-group">
														
														<select 
															class="form-control d-none d-sm-inline-block" name="year">
															<option value="0" selected="true" disabled="true">Select
																Year</option>
															<option th:if="${year=='2021'}" value="2021" selected>2021</option>
															<option th:unless="${year=='2021'}" value="2021" >2021</option>
															
															<option th:if="${year=='2022'}" value="2021" selected>2022</option>
															<option th:unless="${year=='2022'}" value="2021" >2022</option>
															
															<option th:if="${year=='2023'}" value="2021" selected>2023</option>
															<option th:unless="${year=='2023'}" value="2021" >2023</option>
															
															<option th:if="${year=='2024'}" value="2021" selected>2024</option>
															<option th:unless="${year=='2024'}" value="2021" >2024</option>
														</select>
													</div>
											
												</div>
										<div class="col-md-4">
													<div class="form-group">
														 <select class="form-control"
															name="program" >
															<option value="0" selected="true" disabled="true">Select
																Program</option>
																<th:block  th:each="programs:${listPrograms}">
																<option  th:if="${programs.id==program}" th:value="${programs.id}" selected>[[${programs.name}]]
																</option>
																<option  th:unless="${programs.id==program}"  th:value="${programs.id}" >[[${programs.name}]]
																</option>
																</th:block>
														</select>
													</div>
												</div>
											<div class="col-md-4">
											  <div class="form-group">
											     <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-search text-white mr-1"></i> 
			                         GO</button>
							  </div>
											</div>
									</div>
								</from>
                                	<div class="alert alert-primary" role="alert"
									th:text="${success}" th:if="${success}"></div>
								<div class="alert alert-danger" role="alert" th:text="${error}"
									th:if="${error}"></div>
                            </div>

                            <!-- column start -->
                            <div class="col-md-8 mx-auto mt-5">
                                <div class="card">
                                    <div class="table-responsive">
                                        <table class="table v-middle table-hover">
                                            <thead>
                                                <tr class="bg-light">
                                                    <th class="border"colspan=2>SN</th>
                                                    <th class="border-top-0" colspan=2>Name</th>
                                                   
                                                    <th class="border-top-0">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="student,iStat:${listStudents}">
                                                       
                                                  
                                                      <td colspan=2>[[${(pageSize*(currentPage-1))+iStat.count}]]</td>
                                                    
                                                      <td colspan=2>[[${student.firstName}]]  [[${student.middleName}]]  [[${student.lastName}]]</td>
                                                    
                                                        <td>
                                                        <a type="button" class="btn btn-success" th:href="@{'/parent/update/'+${student.id}+'?page='+${currentPage}+'&sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}"   styel="color:white" ><i class="fas fa-edit"></i></a>
                                                        <a type="button" class="btn btn-danger"  th:href="@{'/parent/show/'+${student.id}+'?page='+${currentPage}+'&sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}"  styel="color:white"><i class="far fa-eye"></i></a>
                                                       
                                                    </td>
                                                </tr>
                                            
                                            </tbody>
                                        </table>
                                        <!-- column end -->
                                    </div>
                                </div>
                            </div>
                                           <div class="container">
                                <hr />
                                <ul class="pagination pagination-md">
                                     <span th:if="${currentPage==1}" >
                                     <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                                     </span>
                                     <span th:unless="${currentPage==1}" >
                                     <li class="page-item"><a class="page-link" th:href="@{'/page/'+${currentPage-1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}">Previous</a></li>
                                     </span>
                                    
                                     <span th:each="i:${#numbers.sequence(1,totalPages)}">
                                     <th:block th:if="${i==0}")>
                                     <li class="page-item disabled"> <a th:if="${currentPage!=i}" class="page-link" th:href="@{'/page/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}">[[${i}]]</a></li>
                                     </th:block>
                                     <th:block th:unless="${i==0}")>
                                     <li class="page-item"> <a th:if="${currentPage!=i}" class="page-link" th:href="@{'/page/'+${i}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}">[[${i}]]</a></li>
                                     </th:block>   
                                    
                                    </span>
                                    <li class="page-item disabled"><a th:unless="${currentPage<totalPages}"  class="page-link disable" href="#">Next</a></li>
                                    <li class="page-item"><a th:if="${currentPage<totalPages}" th:href="@{'/page/'+${currentPage+1}+'?sortField='+${sortField}+'&sortDir='+${sortDir}+'&year='+${year}+'&program='+${program}}" class="page-link" href="#">Next</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- container-fluid -->
                </div>
            </div>
        </div>
        <!--page-content-wrapper -->
    </div>
    <!--wrapper -->

    
    <!-- js -->
      <th:block  th:insert="~{admin/fragment/fragment :: js}"></th:block>
    <!-- end js -->
    

</body>

</html>